<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="generateWithIfTest" value="true" />
        <option name="mybatisGeneratorModelSuffix" value="Entity" />
        <option name="useD1" value="1660356072664" />
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>